<% content_for :title, "New activity" %>

<h1>New activity</h1>

<%= render "form", activity: @activity %>

<%= link_to "Back to Activities", activities_path, class: "btn btn-outline-primary mt-3" %>
